body {
    font-family: "Amiko";
    margin: 0 0 0 0;
}


.inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    white-space: nowrap;
}


.seccion-texto {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
}

.inicio button {
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: #2E2459;
    padding: 1.5rem;
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
}

.juego {
    background-color: #fff;
    display: flex;
    align-items: center;

    flex-direction: column;
    height: 100vh;
}

.juego h1 {
    color: #D8DAD3;
    font-weight: bolder;
}

.tablero {
    width: 90%;
    height: 90vh;
    background-color: #0B7261;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30% 30% 5% 35%;
    border-radius: 0 0 40% 40%;
    border: 1rem solid black;

}

.div1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.carta {
    width: 6rem;
    display: flex;
}

.div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.cartaDealer {
    width: 6rem;
    height: auto;
    display: flex;
    justify-content: flex-start;

}

.div3 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.div10 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.div11 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.div12 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.jugador2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: end-4;
}

.jugador1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: end-4;
}

.decoracio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 4;
}