body {
    font-family: "Amiko";
    margin: 0 0 0 0;
}


.inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    white-space: nowrap;
}


.seccion-texto {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    word-wrap: break-word;
}

.inicio button {
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: #2E2459;
    padding: 1.5rem;
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
}

.juego {
    background-color: #0B7261;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.juego h1 {
    color: #fff;
    font-weight: bolder;
}

.tablero {
    height: 100%;
}